# Kafka
kafka-python==2.0.2
confluent-kafka==2.3.0
fastavro==1.9.4

# Data modelling
pydantic==2.5.0
faker==21.0.0

# PySpark (Week 3)
pyspark==3.5.0
delta-spark==3.0.0

# Utilities
python-dotenv==1.0.0
structlog==23.2.0

# Testing
pytest==7.4.3
pytest-mock==3.12.0